/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
html {
  scroll-behavior: smooth;
  text-rendering: geometricPrecision;
  text-rendering: optimizeLegibility;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #000000;
  color: #fff;
  text-align: justify;
}


a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}


button {
  --text-base: 12deg
  --text-hover: 753deg, 72%, 86%;
  --shadow-start: 90deg, 100%, 72%;
  --shadow-end: 432deg, 90%, 50%;
  --shadow-inner: 435deg, 90%, 62%;
  all: unset;
  color: hsla(var(--text-base), 1);
  font: 700 1.125rem/1.2 Raleway, sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  padding: 0.85em;
  max-width: 100%;
  width: 12em;
  background: inherit;
  background-clip: padding-box;
  border: 5px solid hsla(var(--text-base), 1);
  border-radius: 2em;
  cursor: pointer;
  position: relative;
  transition: 0.25s ease-out;
}
button::before, button::after {
  content: "";
  border-radius: inherit;
  transition: inherit;
  position: absolute;
  inset: 0;
  pointer-events: none;
}
button::before {
  inset: -0.2em;
  z-index: -1;
  background: linear-gradient(hsla(var(--shadow-start), 1), hsla(var(--shadow-end), 1));
  filter: blur(1.2em) saturate(1.2);
  transform-origin: bottom;
  transform: scaleY(0.5);
  opacity: 0;
}
button::after {
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 4px rgba(255, 255, 255, 0.7), 1px 1px 0 4px #fff;
  mix-blend-mode: overlay;
  opacity: 0;
}
button:hover, button:focus {
  color: hsla(var(--text-hover), 1);
  border-color: transparent;
  box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32), 0 1px 1px hsla(var(--shadow-inner), 0.32);
}
button:hover::before, button:hover::after, button:focus::before, button:focus::after {
  transform: none;
  opacity: 1;
}

/* Header Styles */
.header-container {
  text-align: center;
  margin-top: 10px;
}

header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #000000;
  border: 2px solid #ffffff;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: 'Cyber';
}


#clock {
  display: inline-flex;
  padding-left: 100px;
  text-rendering: geometricPrecision;
  font-weight: bolder;
  position: relative;
  align-self: center;
}

.right-section {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.menu ul {
  display: inline-flex;
  align-items: center;
}

.menu li {
  margin-right: 10px;
  text-decoration: underline;
}

.header-container header .menu ul li a {
  position: relative;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.header-container header .menu ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  left: 0;
  background-color: #fa0000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

#bg {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

nav li:not(:last-child) {
  margin-right: 40px;
}

nav a {
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  display: block;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #00fff2;
  color: #fff;
}

/* Main Styles */
main {
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
}

section {
  margin-bottom: 50px;
}

h1,
h2,
h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

/* Hero Section Styles */
#hero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  border-radius: 30px;
}

#hero .title {
  font-size: 4rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

/* About Section Styles */
#about h2 {
  text-align: center;
}

.about-card {
  text-align: center;
  align-self: center;
  border: 2px solid #ffffff;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 30px;
}

/* Projects Section Styles */
.projects {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  align-content: center;
  justify-content: center;
}

#projects h2 {
  text-align: center;
  font-size: 1.2rem;
}

.project-card {
  display: inline-flex;
  margin: 10px;
  width: calc(33.33% - 30px);
  padding: 15px;
  margin-bottom: 30px;
  border: 2px solid #fcfcfc;
  font-size: 1.2rem;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}



.project-card:hover {
  transform: translateY(-10px);
}

.project-card .project-details {
  text-align: center;
}

.project-card .project-title {
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
  color: snow;
  margin-bottom: 10px;
}

/* Contact Section Styles */
#contact {
  text-align: center;
  font-size: 1.2rem;
}
#contact h2 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
}

.contact-card {
  display: inline-block;
  border: 2px solid #0026ff;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
}


footer {
  background-color: #000000a4;
  color: #ffffff;
  padding: 1.25rem;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 1rem;
}

footer ul li:last-child {
  margin-right: 0;
}



footer p {
  margin: 0;
  font-size: 1.2rem;
  opacity: 0.8;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face{
	font-family: Cyber;
	src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
	font-display: swap;
}
body{

	font-family: 'Cyber', sans-serif;
}

